/* General */
body {
  margin: 0;
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

/* layouts */

.head-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 50px;
}

.section-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.intro {
  background-color: rgb(189, 28, 28);
  align-items: center;
}
.landmarks {
  background-color: rgb(6, 94, 6);
  align-items: center;
}
.places {
  background-color: rgb(5, 5, 5);
  color: white;
  align-items: center;
}
.weather {
  background-color: rgb(189, 28, 28);
  align-items: center;
}
.festivals {
  background-color: rgb(6, 94, 6);
  align-items: center;
}
.sad {
  background-color: rgb(5, 5, 5);
  align-items: center;
  color: white;
}

/* styles */

h1 {
  color: rgb(173, 158, 97);
}
ul {
  list-style: none;
}
footer {
  text-align: center;
}
#first-letter {
  color: red;
}
#second-letter {
  color: green;
}
#third-letter {
  color: black;
}
img:not(.top) {
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
}
