/* General */
body {
  margin: 0;
  font-family: "Crimson Text", Arial, Helvetica, sans-serif;
  font-size: 15px;
  box-sizing: border-box; /* this property prevent any width or height more than the box's width and height*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

/* layouts */

.head-wrapper {
  /* wrapper for the header */
  display: flex; /* I used here flex box */
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 12px;
  padding-bottom: 25px;
}

.section-wrapper {
  /* wrapper for my sections*/
  display: flex;
  flex-direction: column; /* I changed the flex direction to column for this wrapper */
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* all these classes belong to section-wrapper for align the items according to the main axes*/
.intro {
  background-color: rgb(189, 28, 28);
  align-items: center;
}
.landmarks {
  background-color: rgb(6, 94, 6);
  align-items: center;
}
.places {
  background-color: rgb(5, 5, 5);
  color: white;
  align-items: center;
}
.weather {
  background-color: rgb(189, 28, 28);
  align-items: center;
}
.festivals {
  background-color: rgb(6, 94, 6);
  align-items: center;
}
.sad {
  background-color: rgb(5, 5, 5);
  align-items: center;
  color: white;
}

/*  some styles */

h1 {
  color: rgb(173, 158, 97);
}
ul {
  list-style: none;
}
footer {
  text-align: center;
}
#first-letter {
  color: red;
}
#second-letter {
  color: green;
}
#third-letter {
  color: black;
}
img:not(.top) {
  /* here i give all the images some styles without changing the style for the images that have the top class*/
  box-shadow: 5px 5px 15px black; /* that means the 2 logos at the header*/
  border-radius: 5px;
  width: 60%;
  height: 40%;
}
.top {
  /* styles for the images that has the top class*/
  width: 50px;
  height: 50px;
}
